<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posts</title>
    <link href= "/public/assets/styles.css" rel="stylesheet" type="text/css" />
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-200">
    <div class="px-6 py-8">
        <div class="flex justify-between container mx-auto">
            <div class="w-full lg:w-8/12">
                <div class="flex items-center justify-between">
                    <div class="text-xl font-bold text-gray-700 md:text-2xl">
                        Post
                    </div>
                    <div>
                        <select class="w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
                            <option>Latest</option>
                        </select>
                    </div>
                </div>
                <% posts.forEach(post => { %>
                    <div class="mt-6">
                        <div class="max-w-4xl px-10 py-6 bg-white rounded-lg shadow-md">
                            <div class="flex justify-between items-center ">
                                <span class="font-light text-gray-600">
                                    <%= post.createdAt%>
                                </span>
                                <a href="#" class="px-2 py-1 bg-gray-600 text-gray-100 font-bold rounded hover:bg-gray-500">
                                    <%= post.subjectId %>
                                </a>
                        </div>
                            <div class="mt-2">
                                <a class="text-2xl cursor-pointer text-gray-700 font-bold hover:underline" onclick='redirectToPost("<%= post.id %>")'>
                                    <%= post.title %>
                                </a>
                                <p class="mt-2 text-gray-600">
                                    <%= post.content %>
                                </p>
                            </div>
                            <div class="flex justify-between items-center mt-4">
                                <a></a>
                                <a href="#" class="flex items-center">
                                    <h1
                                        class="text-gray-700 font-bold hover:underline"
                                    >
                                        <%= post.author.name %>
                                    </h1>
                                </a>
                            </div>
                        </div>
                    </div>
                <% });%>
            </div>
            <div class="-mx-8 w-4/12 hidden lg:block">
                <div class="px-8">
                    <h1 class="mb-4 text-xl font-bold text-gray-700">Authors</h1>
                    <div class="flex flex-col bg-white max-w-sm px-6 py-4 mx-auto rounded-lg shadow-md">
                        <ul class="-mx-4">
                            <% users.forEach(user => { %>
                                <li class="cursor-pointer flex items-center mt-3 mb-3">
                                    <%= user.name %>
                                </li>
                            <% }); %>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
   

<script type="text/javascript">
    const redirectToPost = (postId) => {
        window.location = `http://localhost:3300/posts/${postId}`;
    }
</script>
</body>
</html>
